accounts-password should not be case sensitive

If a guy register with test@test.Com then he cannot log in with test@test.com but I think it should since the email are not case sensitive.

This is my top customer issue related to a `meteor` package right now. The vast majority of users imagine emails to be case insensitive, and the sheer number of places I have to account for this makes it a good candidate for a feature of `accounts-password`.

I once again got a User Not Found on my iPad (logging in to Discover Meteor - but I did not send an email to @SachaG to complain!). I found this issue.

I think a test should be added in [password_tests.js](https://github.com/meteor/meteor/blob/devel/packages/accounts-password/password_tests.js) that makes sure that user `userName@domainName.com` can login with `userName@domainname.com`.

The implementation could then be that the `domainName.com` is actually stored lower case (`userName@domainname.com`) and `.loginWithPassword` would make the domain name part of the email address lower case before doing the lookup.

This would solve the majority of the problems while stil being compliant with the standards as noticed by @drorm .

Is this the right way to go?

While definition may allow case-sensitivity I'd make a case against supporting it in order to increase usability and resilience. If at all, I'd vote for a flag that enables case-sensitivity for accounts if someone ever needs it, but I think the default use case should be `john@example.com` === `John@example.com`. Also since transport-related errors are very likely if case-sensitivity is used.

According to RFC 5321 Section 2.3.11 

> [...] due to a long history of problems when intermediate hosts have attempted to optimize transport by modifying them, the local-part MUST be interpreted and assigned semantics only by the host specified in the domain part of the address.

Section 2.4 goes on to discourage case-sensitivity:

> In particular, for some hosts, the user "smith" is different from the user "Smith".  **However, exploiting the case sensitivity of mailbox local-parts impedes interoperability and is discouraged.**  Mailbox domains follow normal DNS rules and are hence not case sensitive.

https://tools.ietf.org/html/rfc5321

Same tone in RFC 2821, Section 4:

> The local-part of a mailbox MUST BE treated as case sensitive. Therefore, SMTP implementations MUST take care to preserve the case of mailbox local-parts.  Mailbox domains are not case sensitive.  In particular, for some hosts the user "smith" is different from the user "Smith".  **However, exploiting the case sensitivity of mailbox local-parts impedes interoperability and is discouraged.**

https://tools.ietf.org/html/rfc2821

Hence I'd claim that support for case-sensitive mail addresses should be a known limitation of Meteor rather than going the other way that caters to 0,1% of all mail addresses. If at all.

On a sidenote, I have not seen any mail system that uses case-sensitive local address parts in the wild in 20 years, possibly due to transport-related issues.

While I appreciate the recent 'tagging' of this issue, does MDG plan to respond or give opinions on this? With guidance, we can at least prep our apps for the changes you may make.

We do have [feature request guidelines](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests) now to set expectations about when we get around to doing things.

That said, I think there's general agreement that this should be fixed.  The tricky part is updating existing databases, etc.

I definitely tend to agree with @yauh.

Between 2. and 3., I would tend to choose 3. If there is a concern with performance, we could do a case-sensitive lookup first (faster), and only if nothing is found, try the case-insensitive (regex) query.

Thoughts?

Aside from passwords, any time you are comparing user input strings to values in a database that were also user input both sides should be compared as the same case whether it be upper or lower, this has been the common pattern that I have seen since I started coding 15 years ago. When email addresses or usernames are displayed they should maintain the original case but case should not be a factor when searching a db using a string to filter unless it's a password or some other authentication scenario. 

At the moment I am trying out Meteor for the first time (have about 2 hours experience), I normally do not care much for frameworks that try and do everything for you and this is a good reason why. This issue has been a topic of conversation in this thread since 2012 and it still has not been addressed. Meteor may do a lot of cool things to help spin up applications quickly but since I am a software developer I require more control of whats going on, one benefit to writing your own boiler plate code is that you can tweak it when it does not work like you want it to, plus it gives a developer the opportunity to be a developer while implementing patterns and practices that one typically finds in the various layers of an application while additionally understanding why those patterns are useful.

This is less a Meteor issue than MongoDB issue.

+1 this issue needs a fix, its really frustrating for ipad and iphone users when email or username field first character is uppercase by default on the devices.

:—)

@mitar How did you come up with that idea? Meteor code performs the string comparison for the username. If it was not baked into the framework developers could just run their own authentication code that works as it should in many other platforms.  

I think the issue is that MongoDB does not provide case insensitive querying or indexes. So you cannot really query a database for an user object for a username. This is the main limitation. If that would be there, then it would be easy to change JavaScript part of the code.

One solution would be to have two fields in the database. One to store username (and e-mail) in the case format user wants. And another which would be in lowercase. You would query the second one. But display the first one.

This would require change to the schema. So the question is how to do it in a backwards compatible way.

It's amazing that such a major problem has existing Dec 2012 with no resolution. 

I agree with @AJ-Acevedo this is quite embarrassing. It is a fundamental part of any solution. This is a production show-stopper for me.  

*This is a production show-stopper for me.* Same here.

The [useraccounts](https://github.com/meteor-useraccounts/core) package takes care of this issue (at least for usernames, haven't checked with emails yet). 

I'm sorry this has taken so long, but I'll be taking a look at finally fixing this issue. There are some great suggestions about possible solutions already in these comments but I want to make sure we're getting all the input we need.

There seems to be a clear consensus that email addresses should be case preserving but be considered case insensitive for purposes of lookup. People have mentioned making this configurable for usernames, but I'd like to keep things simple if possible. Are there any good arguments against making this the default behavior for both?

As mentioned in this thread, one of the issues in fixing this is that MongoDB does not support indexes for case insensitive queries. We of course want to make sure we're taking performance considerations into account. As @ogourment  mentions, a possible solution would be to do an indexed case sensitive query first and a case insensitive regex query only if no result is found. It seems like this would give us the best of both worlds without having to deal with managing an additional field.

Going forward with this change, we'd have to find a way to deal with existing users having an email address or username only differing in case. This is probably rare, but we should do something reasonable. What would your expectations be in this case?

Regarding the "clear consensus to preserve case", reading through this thread I got the opposite impression.  Most users seem to expect case _insensitivity_ and are annoyed when they have to think about case.  This matches my personal experience; we have always lowercased email addresses and none of our users have complained in over 2 years of operation.

Are we perhaps over-thinking this need to preserve case?  Want to do a poll on the forums?

If preserving case is what MDG would like to implement, my preference is:

* A new field to hold the case-preserved email address.  The existing field stores the lower-cased value.  Queries continue to search against existing field using the existing index.  When email is displayed, use the new, case-preserving field.

This avoids a 2nd database round-trip, the potentially-unindexed regex query, and only the code that displays the email needs to be aware of the change.  (It's @ogourment's option 2 but with usage of the fields reversed.)

Regarding how to deal with existing users with the same email address but different case, this indicates accounts which need to be merged and merging is not something that should be automated.  Ideally: detect this situation, alert the developers that they need to clean their data, and let the app continue running as usual without changing existing behavior.  Since this may be difficult to do: detect, alert the user, and then fail with clear instructions on how to downgrade back to previous version / behavior if wished.

> a possible solution would be to do an indexed case sensitive query first and a case insensitive regex query only if no result is found. It seems like this would give us the best of both worlds without having to deal with managing an additional field.

I would prefer one where you have two fields, one lowercased, one in original case. And then you query by lower case, display original case.

@alanning You're right, I may have overstated the clear consensus for a need for case preservation. Actually, the situation would probably be much easier if we decided to standardize on lowercased email addresses and usernames.

The reason I'd like to avoid adding new fields is because it puts the burden of dealing with two separate representations on the user. Users will have to think about what field to display or update, and this also opens up the possibility of fields getting out of sync.

I read the whole thread again; the implementation I proposed a while ago was based on the assumption that there was a need to preserve the case for email addresses. This assumption derived from @drorm citing the standard. But I tried to login to Gmail, and if I type `oGourment@gmail.com` or `ogourment@gmail.com`, it still finds me. Same thing with iCloud and Yahoo! Mail (did not test with Exchange). I think we can simplify things here. @yauh made the case clear.

As for what to do for the cases where two email addresses are distinct only by case, I would offer a server-side script to be run for those interested in finding out how many occurrences there are before upgrading (then app owners should deal with them on a case-by-case basis). I would still do a test with Exchange, but would very surprised if this created problems in production.

I think there is a need to preserve the case for usernames. Especially because those are often displayed to the user. Maybe people spell their usernames (nicknames, handles) in various specialized ways, because they prefer that.

Moreover, while many (smart) email providers do not care about case of local part of the e-mail address, by standard it is a case sensitive part. I do think that is probably something nobody really uses in practice though.

:+1:

So, we finally commited a fix for this yesterday! As this thread shows, case insensitive logins have been a longstanding issue, and people have suggested different ways of solving it. We think we've ended up implementing a relatively elegant solution, given the design constraints (such as backwards compatibility and the lack of case insensitive indexes in MongoDB). Hope you agree.

Right on! Thank you!

Great!

This looks absolutely, perfectly, fantastic. Thanks Martijn!